
.game-screen {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 0.3fr 1fr 1fr 1fr;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
}

/* ===================== ANSWER BUTTONS STYLE ===================== */

#game-answer-buttons-section {
    grid-column: 0 / -1;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#question-answers-section {
    grid-column: 1 / 4;
}

.answer-button-not-answered, .answer-button-correct-answer, .answer-button-wrong-answer {
    margin: 3%;
    width: 90%;
    height: 3em;
    font-size: 1.2em;
    border-radius: 3%;
    background-color: #feb06a;
    color: #606d87;
    cursor: pointer;
}

.answer-button-not-answered:hover {
    background-color: #f88c2e;
    color: #fbf6f3;
}

.answer-button-correct-answer {
    background-color: #4CAF50;
    color: white;
}

.answer-button-wrong-answer {
    background-color: #f44336;
    color: white;
}

/* ===================== TIMER STYLE ===================== */


.game-timer, .game-timer-warning-minus-10, .game-timer-warning-minus-5 {
    margin: 10% 0 0 10%;
    grid-column: 0;
    font-family: 'Lucida Console', 'Monaco', monospace;
    font-size: 4em;
    font-weight: bolder;    
}

.game-timer {
    color: #f88c2e;
}

@keyframes blink {
    50% { opacity: 0; }
}

.game-timer-warning-minus-10 {
    animation: blink 1s infinite;
    color: red;
}

.game-timer-warning-minus-5 {
    animation: blink 0.5s infinite;
    color: red;
}

/* ===================== LLM CHAT STYLE ===================== */

.llm-chat-messages {
    display: flex;
    flex-direction: column;

    max-height: 60vh;
    width: 20vw; /* O prueba con un ancho absoluto en px */
    padding: 2%;
    box-sizing: border-box; /* Asegura que el padding no aumente el tamaño del contenedor */
}

.llm-chat-aside {
    margin-right: 4%;
    grid-column: -1;
    grid-row: 2/4;
}

.llm-chat-input {
    width: 80%;
    margin: 1%;
}

.send-prompt-button {
    width: 15%;
    height: 2em;
    font-size: 1.2em;
    border-radius: 3%;
    background-color: #fbf6f3;
    color: #606d87;
    cursor: pointer;
}

.llm-icon {
    width: 10%;
    height: auto;
    margin: 1%;
}

.llm-chat {
    position: relative;
    border-style: solid;
    border-width: 0.2em;
    height: 60vh;
    width: 20vw;
}

.llm-chat-form {
    display: flex;
    justify-content: space-between;
    border-style: solid;
}

/* ===================== POINTS STYLE ===================== */

.game-points {
    margin: 10% 10% 0 0;
    display: flex;
    justify-content: center;
    grid-column: -1;
    font-size: 4em;
}

/* ===================== IMG STYLE ===================== */

.question-img {
    max-width: 20vw;
    height: auto;

}

.div-question-img {
    grid-column: 1/4;
    display: flex;
    justify-content: center;
}

/* ===================== QUESTION STYLE ===================== */

.game-question {
    grid-row: 2;
    display: flex;
    justify-content: center;
    text-align: center;
    grid-column: 1/4;
    font-size: 1.5em;
}