.game-screen {
    background: linear-gradient(135deg, #F3F4F6, #B8C6D8);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 0.5fr 0.3fr 1fr 1fr 1fr;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
}

/* ===================== QUESTION STYLE ===================== */

@keyframes loadingAnimation {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}

.question-loading {
    animation: loadingAnimation 1s infinite;
}

/* ===================== ANSWER BUTTONS STYLE ===================== */

#game-answer-buttons-section {
    grid-column: 0 / -1;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#question-answers-section {
    grid-column: 1 / 4;
}

.answer-button-not-answered, .answer-button-correct-answer, .answer-button-wrong-answer {
    margin: 3%;
    width: 90%;
    height: 3em;
    font-size: 1.2em;
    
    background-color: #5d6c89 !important;
    color: #fbf6f3 !important;
    cursor: pointer;
}

.answer-button-not-answered:disabled, .answer-button-correct-answer:disabled, .answer-button-wrong-answer:disabled {
    opacity: 100%;
}

.answer-button-not-answered:hover {
    background-color: #475a80 !important;
}

.answer-button-correct-answer {
    background-color: #2dc032 !important;
    color: white;
}

.answer-button-wrong-answer, .answer-button-wrong-answer:active {
    background-color: #f71e0e !important; 
    color: white;
}

.answer-button-content {
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
}

.answer-icon {
    position: absolute;
    width: 10%;
    height: auto;
    right: 5%;
}

button:not(:disabled):active {
    transform: scale(0.98) !important; /* Slightly scale down the button to give a pressed effect */
}

/* ===================== TIMER STYLE ===================== */

.timer-div {
    display: flex;
    justify-content: left;
    align-items: center;
    grid-column: 0;
}

.game-timer, .game-timer-warning-minus-10, .game-timer-warning-minus-5 {
    margin-left: 20%;
    font-family: 'Lucida Console', 'Monaco', monospace;
    font-size: 4vw;
    font-weight: bolder;    
}

.game-timer {
    color: #f88c2e;
}

@keyframes blink {
    50% { opacity: 0; }
}

.game-timer-warning-minus-10 {
    animation: blink 1s infinite;
    color: red;
}

.game-timer-warning-minus-5 {
    animation: blink 0.5s infinite;
    color: red;
}

/* ===================== QUESTION NUMBER STYLE ===================== */

.game-questions-answered {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 0;
}

.question-number {
    font-size: 4vw;
}

/* ===================== LLM CHAT STYLE ===================== */

.llm-chat-aside {
    margin-right: 1em;
    grid-column: -1;
    grid-row: 2/5;
    display: flex;
    justify-content: center;
}

.llm-chat {
    position: relative;
    border-style: solid;
    height: 60vh;
    width: 20vw;
}

.llm-chat-messages {
    max-height: 60vh;
    padding: 2%;
}

.llm-message, .user-message, .llm-message-loading {
    margin: 2% 0;
    padding: 1em;
    border-radius: 15px; 
    word-wrap: break-word;
}

.llm-message-loading {
    animation: loadingAnimation 1s infinite;
}

.llm-message {
    background-color: #5d6c89;
    color: white;
}

.user-message {
    background-color: #36d6e7;
}

.llm-chat-input {
    width: 100%;
    font-size: 1.2em;
}

.send-prompt-button {
    width: 15%;
    height: 2em;
    font-size: 1.2em;
    border-radius: 3%;
    background-color: white;
    cursor: pointer;
}

.send-prompt-button:hover {
    background-color: rgb(237, 230, 230);
}

.send-prompt-button > img {
    width: 70%;
    height: auto;
}

.llm-icon {
    width: 140%;
    height: auto;
    border-radius: 50%;
    background-color: white;
}

.llm-chat-form {
    display: flex;
    justify-content: space-between;
}

.llm-chat-form, .llm-chat {
    border-width: 0.2em;
}

/* ===================== POINTS STYLE ===================== */

.game-points-and-exit-div {
    position: relative; /* Add relative positioning */
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: -1;
}

.points-div-under-1000 {
    font-size: 4vw;
}

.points-div-above-1000 {
    font-size: 3vw;
}

@keyframes pointsToAddAnimation {
    0% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(-20px); opacity: 0; } /* Adjust translateY to move less */
}

.points-to-add {
    position: absolute;
    right: 107%;
    font-size: 3em; /* Make the font size even smaller */
    color: green;
    animation: pointsToAddAnimation 1.1s ease-in-out;
}

/* ===================== IMG STYLE ===================== */

.question-img {
    max-width: 20vw;
    max-height: 50vh;
    height: auto;
}

.div-question-img {
    grid-column: 1/4;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ===================== QUESTION STYLE ===================== */

.game-question {
    grid-row: 2;
    display: flex;
    justify-content: center;
    text-align: center;
    grid-column: 1/4;
    font-size: 1.5em;
}

/* ===================== NEXT BUTTON STYLE ===================== */

.pass-button-div {
    display: flex;
    align-items: center;
}

.pass-button {
    grid-column: 4;
    width: 40%;
    height: 30%;
    background-color: #5d6c89 !important;
    color: white;
    text-decoration: none;
    border-radius: 15px;
    cursor: pointer;
}

.pass-button:disabled {
    opacity: 100% !important;
}

.pass-button:hover {
    background-color: #475a80 !important;
}

.exit-button {
    width: 13%;
    height: 40%;
    max-height: 10vw;
    cursor: pointer;
    margin-right: 20%;
    background-color: transparent;
    border-style: unset;
}

.exit-icon {
    width: auto;
    height: 100%;
}

/* ===================== GAME OVER STYLE ===================== */

.game-results-container {
    background: linear-gradient(135deg, #F3F4F6, #B8C6D8);
    height: 100vh;
}

.finalPoints {
    font-size: 4em;
    color: #f88c2e;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.game-results-button {
    margin: 2% 0%;
    background-color:#475a80;
}

.game-results-button:hover {
    background-color: #5d6c89;
}

.game-details {
    max-height: 70vh;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
}

.pie-chart-container {
    height: 50vh;
}

/* ===================== CHAOS MODE STYLE ===================== */
.chaos-mode .game-screen {
    background: linear-gradient(120deg, #ec7575, #f5a37f, #ebba91);
    background-size: 600% 600%;
    animation: backgroundChaos 8s ease infinite;
}

.chaos-mode .game-timer {
    color: #532e0e;
  }

@keyframes backgroundChaos {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
  }
  
  .answer-button-wrong-answer {
    animation: shake 0.4s ease;
  }

.chaos-mode .points-to-remove {
    position: absolute;
    right: 107%;
    font-size: 3em; /* Make the font size even smaller */
    color: rgb(217, 38, 14);
    animation: pointsToAddAnimation 1.1s ease-in-out;
}

  