services:
  mongodb:
    container_name: mongodb-wichat_es4a
    image: mongo
    profiles: ["dev", "prod"]
    volumes:
      - mongodb_data:/data/db
    ports:
      - "27017:27017"
    networks:
      - mynetwork

  authservice:
    container_name: authservice-wichat_es4a
    image: ghcr.io/arquisoft/wichat_es4a/authservice:latest
    profiles: ["dev", "prod"]
    build: ./users/authservice
    depends_on:
      - mongodb
    ports:
      - "8002:8002"
    networks:
      - mynetwork
    environment:
      MONGODB_URI: mongodb://mongodb:27017/userdb

  userservice:
    container_name: userservice-wichat_es4a
    image: ghcr.io/arquisoft/wichat_es4a/userservice:latest
    profiles: ["dev", "prod"]
    build: ./users/userservice
    depends_on:
      - mongodb
    ports:
      - "8001:8001"
    networks:
      - mynetwork
    environment:
      MONGODB_URI: mongodb://mongodb:27017/userdb

  llmservice:
    container_name: llmservice-wichat_es4a
    image: ghcr.io/arquisoft/wichat_es4a/llmservice:latest
    profiles: ["dev", "prod"]
    env_file:
      - .env
    build:
      context: ./llmservice
    ports:
      - "8003:8003"
    networks:
      - mynetwork

  questionservice:
    container_name: questionservice-wichat_es4a
    image: ghcr.io/arquisoft/wichat_es4a/questionservice:latest
    profiles: ["dev", "prod"]
    build:
      context: ./questionservice
    ports:
      - "8004:8004"
    networks:
      - mynetwork

  gameservice:
    container_name: gameservice-wichat_es4a
    image: ghcr.io/arquisoft/wichat_es4a/gameservice:latest
    profiles: ["dev", "prod"]
    build:
      context: ./gameservice
    ports:
      - "8005:8005"
    networks:
      - mynetwork
    environment:
      DB_URL: mongodb://mongodb:27017/bd
    depends_on:
      - mongodb
      - gatewayservice

  gatewayservice:
    container_name: gatewayservice-wichat_es4a
    image: ghcr.io/arquisoft/wichat_es4a/gatewayservice:latest
    profiles: ["dev", "prod"]
    build: ./gatewayservice
    depends_on:
      - mongodb
      - userservice
      - authservice
      - llmservice
      - questionservice
    ports:
      - "8000:8000"
    networks:
      - mynetwork
    environment:
      AUTH_SERVICE_URL: http://authservice:8002
      USER_SERVICE_URL: http://userservice:8001
      LLM_SERVICE_URL: http://llmservice:8003
      QUESTION_SERVICE_URL: http://questionservice:8004
      GAME_SERVICE_URL: http://gameservice:8005

  webapp:
    container_name: webapp-wichat_es4a
    image: ghcr.io/arquisoft/wichat_es4a/webapp:latest
    profiles: ["dev", "prod"]
    build:
      context: ./webapp
    depends_on:
      - gatewayservice
    ports:
      - "3000:3000"

  prometheus:
    image: prom/prometheus
    container_name: prometheus-wichat_es4a
    profiles: ["dev"]
    networks:
      - mynetwork
    volumes:
      - ./gatewayservice/monitoring/prometheus:/etc/prometheus
      - prometheus_data:/prometheus
    ports:
      - "9090:9090"
    depends_on: 
      - gatewayservice
      
  grafana:
    image: grafana/grafana
    container_name: grafana-wichat_es4a
    profiles: ["dev"]
    networks:
      - mynetwork
    volumes:
      - grafana_data:/var/lib/grafana
      - ./gatewayservice/monitoring/grafana/provisioning:/etc/grafana/provisioning
    environment:
      - GF_SERVER_HTTP_PORT=9091
      - GF_AUTH_DISABLE_LOGIN_FORM=true
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
    ports:
      - "9091:9091"
    depends_on: 
      - prometheus


volumes:
  mongodb_data:
  prometheus_data: 
  grafana_data: 

networks:
  mynetwork:
    driver: bridge
