.navbar-custom {
    background-color: #5D6C89;
  }
  
  .dropdown-language, .rules-menu {
    font-size: 20px;
    color: #FBF6F3;
    text-decoration: none;
  }
  
  .dropdown-language:hover, .rules-menu:hover {
    color: #FEB06A;
  }
  
  .icon-menu {
    font-size: 20px;
    color: #FBF6F3;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
  }
  
  .icon-menu:hover {
    color: #FEB06A;
  }
  
  .language-options:active, 
  .language-options:hover, 
  .language-options:focus {
    background-color: #FEB06A;
    color: #FBF6F3;
  }
  
  /* Color blanco por defecto */
#dropdown-language {
    color: #FBF6F3;
    transition: color 0.3s ease-in-out;
}

/* Al pasar el ratón, se pone naranja */
#dropdown-language:hover {
    color: #FEB06A;
}

/* Cuando el dropdown está abierto, se mantiene naranja */
#dropdown-language.show {
    color: #FEB06A;
}

/* Cuando el dropdown se cierra, vuelve a blanco */
#dropdown-language:not(.show):not(:hover) {
    color: #FBF6F3;
}



  