.navbar-custom {
    background-color: #5D6C89;
}


.dropdown-language, .rules-menu, .icon-menu{
    font-size: 20px;
    color: #FBF6F3;
    text-decoration: none ;
}

.dropdown-language:hover, .rules-menu:hover, .icon-menu.hover{
    color: #FEB06A;
}

