.modal-content {
  background-color: #5D6C89;
  border-radius: 0.5em;
  padding: 1em; 
  color: white;
  font-family: Arial, sans-serif;
  width: 70%;
  max-width: 20em; 
  margin: auto;
}




  
  
  

  